<footer>
  CST336 Internet Programming. 2019&copy; Pearce <br />
  California State University Monterey Bay <br />
  The information presented in this website is used for academic purposes only and may not be accurate. <br />
  No processors were harmed in the making of this website.
</footer>
</body>
</html>