<hr class="line"/>

<ul class="pagination">
  <li><a href="/">Home</a></li>
  <li><a href="/mercury">Mercury</a></li>
  <li><a href="/venus">Venus</a></li>
  <li><a href="/earth">Earth</a></li>
  <li><a href="/mars">Mars</a></li>
</ul>

<footer>
  CST336 Internet Programming. 2019&copy; Pearce <br />
  California State University Monterey Bay <br />
  The information presented in this website is used for academic purposes only and may not be accurate. <br />
  No processors were harmed in the making of this website.
</footer>
</body>
</html>