<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Solar System!</title>
  <!-- Link to allow Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <!-- Link to allow CSS -->
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body background="img/vastSolar.jpg">
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">The Solar System</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/mercury">Mercury</a></li>
        <li><a href="/venus">Venus</a></li>
        <li><a href="/earth">Earth</a></li>
        <li><a href="/mars">Mars</a></li>
      </ul>
    </div>
  </div>
</nav>
