<% include partials/header %>

  <h1> Salutations Earth! </h1><br>
  
  <div class="container">
    Our home planet, the place where billions of people lay there heads at night,
    the place where almost every day something new is discovered...Earth. The only 
    not named from a mythological god or goddess &#9785;. Estimated at over 100
    million years old, Earth is not only the most dense planet in the solar system
    but was also once believed to be the center of the university; that was until 
    1543 when Copernicus, a Renaissance-era mathematician and astronomer, published
    a model in which the sun was the center of the solar system. Earths water was 
    initially trapped within our planet but due to volcanic activity, the water was 
    eventually able to escape. Also, very fun fact, Earth is the only planet to have
    Tacos... Just saying. 
  </div><br><br>
  
  <img src="/img/earth.jpg" alt="Picture of Earth and the Moon" class="wdn-stretch rounded-corners" /><br><br>
  
  <div class="container">
    Did you know our planet is slowing down? *Gasp* Right??? That is a fact, Earth
    is gradually slowing down. But that is okay, because it slows 17 milliseconds
    per hundred years, eventually lengthening our days, but that is 140 million 
    years from now, so thats okay right? Past our lifetime... Sorry future people. 
    On a bright note Earth has one of the most perfect circular orbits in the 
    solar system. The first life on the planet originally developed in the oceans, 
    which by the way, 70% of Earth is covered with water, though a majority is salt
    water. 
  </div><br><br>
  
  <img src="/img/earthNature.jpg" alt="Picutre of Mother Nature" class="wdn-stretch rounded-corners" /><br>
  
  
<% include partials/footer %>