<% include partials/header.ejs %>

  <h1>Welcome to the Soloar System Site!</h1><br><br>
  
  <img src="/img/planetLayout.jpg" alt="The Solar System" class="wdn-stretch rounded-corners" /><br><br>
  
  <div class ="container">
    This website has been created as a method for people to have easy access to learning
    about the planets that are in our solar system. Though there are some planets that are
    missing from the website those will soon be added later. Please enjoy reading all of the
    cool information and facts about our solar system! 
  </div><br><br>
  
  <img src="/img/sun.jpg" alt="Picture of the Sun" class="wdn-stretch rounded-corners" /><br>

<% include partials/footer %>