<% include partials/header %>

  <h1> Give a warm weclome to Mars! </h1>
  
  <img src="/img/mars.jpg" alt="Picture of Mars" class="wdn-stretch rounded-corners" /><br><br>
  
  <div class="container">
    Named after the Roman god of war, Mars is the fourth planet in the solar system; 
    and is also the last of the terrestrial planets. The landmass between Mars and
    Earth is very similar. Ever see the movie John Carter? In that movie he ends up on 
    Mars, and one of the first things he realizes is the gravity is off. This is 
    because the gravity on Mars is 37% of the gravity on Earth. This means you 
    could jump three times higher than on Earth. Mars also experiences huge dust storms
    that can last up to a month long. This is due to the planets orbit pattern; instead 
    of having a circilar orbit, the planet has more of an elliptical shape. 
  </div><br><br>
  
  <div class="container">
    As all readers are aware there is life on Earth, but did you know that Mars 
    is the most hospitable to life? They tried this in the movie The Martian, 
    which had a lot of potential... poor Matt Damon. Mars also have longer years 
    than Earth. 687 days to orbit the sun. Mars also contains ice, and you know what 
    that means! Water! Besides Earth, Mars is the only planet that has polar ice caps. 
    Mars also experiences seasons however they are twice as long as Earthm, and this 
    is because of the tilt of the planets axis. Earth has a tilt of 22.5 degrees while 
    Mars has a tilt of 25.19 degrees. The two moons of Mars, Phobos and Deimos were 
    written in the book Gullivers Travels by Jonathan Swift, the moons were discovered 
    151 years later. 
  </div><br>
  
<% include partials/footer %>