<% include partials/header.ejs %>
  <h1> Welcome Mercury! </h1><br>
  
  <img src="/img/mercury.png" width="400" height="400" alt="Picture of Mercury" class="wdn-stretch rounded-corners" /><br>
  
  <div class="container">
    The first planet in our solar systems, named after the messenger of the Roman
    gods, aka Hermes in Greek mythology. Being that Mercury is closest to the sun
    the planets orbit is very fast. A year in Mercury is 88 days, compared to our
    365 (damn thats fast!). However, due to being almost completely gravitationally
    locked to the sun a day in Mercury lasts forever! 176 Earth days to one day in 
    Mercury. Talk about the longest day of the year!
  </div><br>
  
  <div class="container">
    Even though Mercury is the closest planet to the sun it is considered the second
    hottest planet in the solar system. The first is Venus, even though Venus is
    second on the list, it has an atmosphere while Mercury has a very thin 
    atmosphere because of how close the planet is to the sun, the solar winds are 
    constantly blowing the atmoshpere away. Mercury reaches temerpatures as low 
    as -280&#8457; and temperatures as high as 800&#8457;! Crazy!
  </div>
  
<% include partials/footer.ejs %>