<% include partials/header %>

  <h1> Greetings Venus! </h1><br>
  
  <img src="/img/venus.jpg" alt="Picture of both sides of Venus" class="wdn-stretch rounded-corners" /><br><br>
  
  <div class="container">
    The morning and evening star! In early times people believed that Venus
    was two stars, being Venus overtakes earths orbit due to having shorter 
    orbit times as Earth, the planet would shift from only being seen in 
    the morning to only being seen at night. Similar to that of Mercury, 
    Venus has a longer day than earth. 243 Earth days to complete one rotation
    of the planet and 225 Earth days for one full year. Not as fast as Mercury but
    dang that is still quick. Venus is named after the Roman goddess of love and 
    beauty due to the brightness of the planet. Babylonians in 1581 referred to 
    Venus as "bright queen of the sky". 
  </div><br>
  
  <div class="container">
    Most other planets rotate counter-clockwise on their axis, however Venus rotates
    clockwise. This is noteable called a retrograde rotation and may have been caused
    by a collision with an asteroid or other object. The atmospheric pressure of Venus
    is 92 times stronger than Earth's! Any asteroids that enter get crushed by the 
    immense pressure. This pressure when compared to Earth's is similar to being 621.371
    miles underneath the ocean. Due to the high atmospheric pressure there are hardly 
    any surface craters on the planet. Even though it is the second planet in the solar
    system it is the hottest with temperatures reaching to 863&#8457;! No thanks! Venus 
    is also really old, I mean like really old! Earth is dated back to 100 million years 
    but Venus? Try 300 to 400 million years old! 
  </div>
<% include partials/footer %>